services:
   db:
      image: postgres:17
      container_name: rgv-db
      restart: unless-stopped
      environment:
         POSTGRES_DB: ${DATABASE_NAME}
         POSTGRES_USER: ${DATABASE_USERNAME}
         POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      volumes:
         - rgv-data:/var/lib/postgresql/data

   redis:
      image: redis:8
      container_name: rgv-redis
      restart: unless-stopped

   app:
      image: vcardoneit/registro-vigilanza-v2:latest
      container_name: rgv-app
      restart: unless-stopped
      environment:
         DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
         DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
         DATABASE_ENGINE: ${DATABASE_ENGINE}
         DATABASE_NAME: ${DATABASE_NAME}
         DATABASE_USERNAME: ${DATABASE_USERNAME}
         DATABASE_PASSWORD: ${DATABASE_PASSWORD}
         DATABASE_HOST: db
         DATABASE_PORT: 5432
         REDIS_HOST: redis
         DEBUG: ${DEBUG}
         TZ: Europe/Rome
      ports:
         - "8000:8000"
      depends_on:
         - db
         - redis
      volumes:
         - rgv-media:/app/media
         - rgv-static:/app/staticfiles

volumes:
   rgv-media:
      name: rgv-media
   rgv-static:
      name: rgv-static
   rgv-data:
      name: rgv-data